<div class="container">
   <div class="back-btn"> 
        <span class="material-symbols-outlined" (click)="goBack()">
            arrow_back
        </span>
    </div>
    <div class="sub-container">
        <!-- <form [formGroup]="form">
            <div class="checkbox-container">
                <div >
                    <input type="checkbox" formControlName="eng" (change)="onCheckboxChange('eng')"> Eng
                </div>
                <div>
                    <input type="checkbox" formControlName="tel" (change)="onCheckboxChange('tel')"> Tel
                </div>
                <div>
                    <input type="checkbox" formControlName="hin" (change)="onCheckboxChange('hin')"> Hin
                </div>
            </div>
        </form> -->
        
        @for (item of buttons; track $index) {
           <div class="btn-container"> <button (click)="navigateTo(item.navTo)">{{item.name}}</button></div>
        }
       
    </div>
</div>
