<div class="container">
    <span class="material-symbols-outlined" (click)="goBack()">
        arrow_back
    </span>&nbsp; <span class="title">Special Report</span>
    <br>
    <br>
    <div class="sub-container">
        <form (ngSubmit)="submitForm()">
            <!-- <div class="input-div">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="formData.date" required>
            </div> -->
            
            <div class="input-div">
            <label for="name"> Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="formData.customerName" required>
            </div>
            <div class="input-div">
            <label for="phoneNumber">Phone No</label>
            <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="formData.phoneNumber" required>
            </div>
            <div class="input-div">
            <label for="tyreSize">Tyre Size</label>
            <input type="text" id="tyreSize" name="tyreSize" [(ngModel)]="formData.tyreSize" required>
            </div>
            
            <div class="input-div">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" [(ngModel)]="formData.quantity" required>
                </div>
            <div class="input-div">
                <label for="textarea">Comments</label>
                <textarea id="textarea" name="comment" rows="4" cols="50" [(ngModel)]="formData.comment" required></textarea>
            </div>
            <div class="button-div">
                <button type="submit">Submit</button>
                <button type="reset">clear form</button>
            </div>
        </form>
    </div>
</div>  
<div class="loading" *ngIf="loading"> 
    <mat-spinner></mat-spinner>  
</div>