<div class="container">
    <div class="image-container">
        <img src="assets\starting\Group 958.png">
        <br>
        <span>WELCOME</span>
    </div>
    <div class="sub-container">
        <form [formGroup]="logInForm" (ngSubmit)="login()">
           
            <div>
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" >
            </div>

            <div>
                <label for="password">Password</label>
                <div class="input-with-button">
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="password">
                    <button type="button" class="show-password" (click)="togglePasswordVisibility()">
                        {{ passwordVisible ? 'Hide' : 'Show' }}
                    </button>
                </div>
            </div>

            <button class="submit-btn" type="submit">Login</button>
            <br>
            <!-- <div style="text-align: center; font-size: 1rem;">Don't have an account? <a  (click)="navToSignUp()">Sign up</a></div> -->
        </form>
       
    </div>
</div>
<div class="loading" *ngIf="loading"> 
    <mat-spinner></mat-spinner>  
</div>